/*
 * Theme utilities
 * Initial creation: 2023-11-10
 */

/* 2025-05-11 21:59:05 */
.theme-2150 {
  margin: 6px;
  padding: 21px;
  color: #bf67ef;
  background-color: #511f43;
  border-radius: 1px;
  font-size: 24px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease;

  &:hover {
    transform: scale(1.14);
  }
}

/* 2026-05-20 05:40:58 */
.panel-muted-md-4058 {
  margin: 39px;
  padding: 2px;
  color: #beb8d4;
  background-color: #93bb3f;
  border-radius: 0px;
  font-size: 22px;
  box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 200ms ease;

  &:hover {
    transform: scale(1.07);
  }
}
